{% extends "base.html" %}
{% load humanize bootstrap5 customfilter %}
{% block content %}
<section class="bg-light p-md-5 d-flex justify-content-center vh-100 align-items-start">
    <div class="card card-default rounded-0 shadow col-sm-12 col-md-6 col-lg-6 mt-4">
        <div class="card-header">
            <h4 class="card-title"><b>Login</b></h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group form-check mb-md-4 col-sm-12 col-md-6">
                    <input type="checkbox" class="form-check-input col-sm-2 offset-sm-2" id="exampleCheck1"
                        name="remember_me">
                    <label class="form-check-label col-sm-8" for="exampleCheck1">Remember Me!</label>
                </div>
                <div class="form-group col-sm-12 col-md-6 text-end">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <ul class="my-5">
                <li>Forgot password? <a href="#" class="text-decoration-none text-danger">Get a new one!</a></li>
                <li>New to Squash Club? <a href="#" class="text-decoration-none text-danger">Register here!</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}